<!DOCTYPE html>
<html>
<head>
    <title>CAP food website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topnav">
        <a href="{{ url_for('main') }}">Home</a>
        <a class="login" href="{{ url_for('register') }}">Sign Up</a>
        <a class="login" href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="main">
        <div class="flexbox">
            <div class="sidenav">
                <a href="{{ url_for('search') }}">Ingredient Search</a><br>
                <a href="#">Filter Types</a><br>
            </div>
            <div class="content">

                <div class="flex-container" id="flexCont">
                    <button class="btn active">Test</button>
                    <button class="btn">Chicken</button>
                    <button class="btn">Beef</button>
                    <button class="btn">Pork</button>
                    <button class="btn">Chicken Pot Pie</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                    <button class="btn">Test</button>
                </div>   
            </div>
            <div class="rightbar" id="rightbarV">
                <h1 style="text-align: center;">Ingredients</h1>
                <h1 id="ingredients"></h1>
                <div id="ingrDiv"></div>
            </div>
        </div>
    </div>
    <script>

        var btnContainer = document.getElementById("flexCont");
        var rightbarVar = document.getElementById("ingrDiv");
        var ingrItems = document.getElementsByClassName("sideTxt");
        var testing = document.getElementById("testing");
        var arr = [];
        var x = 0;

        var btns = btnContainer.getElementsByClassName("btn");
        
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
                var insertText = current[0].textContent;

                createButton(insertText);
            });
        };

        window.addEventListener("beforeunload", function(e){
            saveIngr();
        }, false);

        window.onload = function() {
            onloadButton();
        }
    </script>
</body>