<!DOCTYPE html>
<html>
<head>
    <title>What Can I Make With This?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="loggedin">
    <div class="topnav">
        <a href="{{ url_for('search') }}">Home</a>
        <a class="login" href="{{ url_for('logout') }}"></i>Logout</a>  
        <a href="{{ url_for('main') }}" class="login">Profile</a>
    </div>
    <div class="main">
        <div class="flexbox">
            <div class="content flex-container2">
                <h1 class="header2">Profile Page</h1>
                <h2 class="header2" style="margin-top: 15px;">Your account details are below:</h2> 
                <p class="blockText">Username: {{accUser}}</p>
                <p class="blockText">Password: {{accPass}}</p>
            </div>
        </div>
    </div>
</body>