<!DOCTYPE html>
<html>
<head>
    <title>CAP food website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="script.js">
        
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="topnav">
        <a href="{{ url_for('main') }}">Home</a>
        <a class="login" href="{{ url_for('register') }}">Sign Up</a>
        <a class="login" href="{{ url_for('login') }}">Login</a>
    </div>
    <div class="main">
        <div class="flexbox">
            <div class="sidenav">
                <a href="{{ url_for('search') }}">Ingredient Search</a><br>
                <a href="#">Filter Types</a><br>
            </div>
            <div class="content">
                <div class="searchbar">
                    <form action="{{ url_for('search') }}" method="post" autocomplete="off">
                        <input type="text" name="search" placeholder="Search.." id="search" required>
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="flex-container" id="flexCont">
                    <button hidden class="btn active"></button>
                    {% if result %}
                    {% for item in result %}
                    <button class="btn">{{item}}</button> 
                    {% endfor %}                  
                {% else %}
                <h1>No Results</h1>
                {% endif %}
                </div>
            </div>
            <p id="testing"></p>
            <div class="rightbar" id="rightbarV">
                <h1 style="text-align: center;">Ingredients</h1>
                <h1 id="ingredients"></h1>
                <div id="ingrDiv"></div>
                <div class="btmDiv"><button class="submitBtn" id="submitBtn" onclick="saveIngr()">Search</button></div>
            </div>
        </div>
    </div>
    <script>

        var btnContainer = document.getElementById("flexCont");
        var rightbarVar = document.getElementById("ingrDiv");
        var ingrItems = document.getElementsByClassName("sideTxt");
        var testing = document.getElementById("testing");
        var arr = [];
        var x = 0;


        function createButton (txt) {
            var closeBtn = document.createElement('button');
            var sideTxt = document.createElement('h2');
            var brCreate = document.createElement('div');

            closeBtn.setAttribute('class', 'closeBtn');
            closeBtn.setAttribute('id', 'closeBtn' + x);
            closeBtn.setAttribute('onclick', 'closeThis(' + x +')');
            closeBtn.setAttribute('style', 'display: inline-block');
            closeBtn.textContent = 'X';

            sideTxt.setAttribute('class', 'sideTxt');
            sideTxt.setAttribute('id', 'sideTxt' + x);
            sideTxt.setAttribute('style', 'display: inline-block');
            sideTxt.textContent = txt;

            brCreate.setAttribute('style', 'display: block');
            brCreate.textContent = " ";
            
            rightbarVar.appendChild(closeBtn);
            rightbarVar.appendChild(sideTxt);
            rightbarVar.append(brCreate);

            x += 1;
        }

        function closeThis(num) {
            var txtNum = "sideTxt" + num;
            var btnNum = "closeBtn" + num;
            const abc = document.getElementById(txtNum);
            const def = document.getElementById(btnNum);
            abc.remove();
            def.remove();
        }

        function saveIngr() {
            document.cookie = "ingredients="
            for (var i = 0; i < ingrItems.length; i++) {
                document.cookie += "," + (ingrItems.item(i).textContent);
            }
        }

        function onloadButton() {
            var ingArr = [];
            var text = document.cookie.split("=")[1];
            ingArr = (text.split(','));
            for (i = 0; i < ingArr.length; i++) {
                if (ingArr[i] != "") {
                    createButton(ingArr[i]); 
                }
            }
        }

        var btns = btnContainer.getElementsByClassName("btn");

        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
                var insertText = current[0].textContent;

                createButton(insertText);
            });
        }
        
        window.addEventListener("beforeunload", function(e){
            saveIngr();
        }, false);

        window.onload = function() {
            onloadButton();
        }

    </script>
</body>