body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.topnav {
    margin: 0px;
    background-color: #333;
    overflow: hidden;
    height: auto;
}
.topnav a {
    float: left;
    height:100%;
    background-color: #04AA6D;
    color: white;
    text-align: center;
    padding: 14px 16px 15px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.login {
    float: right;
    color: white;
}



.sidenav {
    height: 100vh;
    white-space: nowrap;
    padding-right: .5%;
    width: auto; /* Set the width of the sidebar */
    position: relative;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    padding-top: 10px;
}
.sidenav a {
    padding: 0px 0px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:active {
    background-color: #04AA6D;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.flexbox {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    vertical-align: top;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color:#333;
    margin-top: 2%;
  }
  
  .btn {
    background-color: #f1f1f1;
    min-width: 125px;
    width: 20%;
    margin: 2%;
    text-align: center;
    line-height: 20vh;
    font-size: 30px;
    overflow: hidden;
  }
  .btn:hover {
    background-color: #818181;
  }
  .btn:active {
    background-color: skyblue;
  }
  .active {
    background-color: skyblue;
  }

.searchbar input[type=text] {
    width: 80%;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border:#333 .1%;
  }
.searchbar button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
.searchbar button:hover {
    background: #ccc;
  }
  

.rightbar {
    width: 22%;
    height: 75vh;
    min-height: 100px;
    min-width: 250px;
    margin-top: 2%;
    padding: .5% 1% .5% .5%;
    margin-right: 2%;
    color: #818181;
    background-color: #111;
    overflow-y: scroll;
}

.gridContent {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(100%/5)), 1fr));
    padding: 10px;
    column-gap: 10px;
    row-gap: 4vh;
}

.grid-item {
    height: 20vh;
    width: 75%;
    background-color: #818181;
    border:1px solid #111;
    padding: 0px;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.picDiv {
    height: 80%;
    width: 100%;
    background-color: red;
    margin: 0px 0px 0px 0px;
}

.closeBtn {
    margin-right: 8px;
    padding: 10px 10px 10px 10px;
}

.textDiv {
    height: 20%;
    width: 100%;
    background-color: blue;
    margin: 0px 0px 0px 0px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

.main {
    margin-left: 0px;
    padding: 0px 0px;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}