body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.topnav {
    margin: 0px;
    background-color: #333;
    overflow: hidden;
    height: auto;
}
.topnav a {
    float: left;
    height:100%;
    background-color: #3274d6;
    border: 1px solid #111;
    color: white;
    text-align: center;
    padding: 14px 16px 15px;
    text-decoration: none;
    font-size: 17px;
  }
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.login {
    float: right;
    color: white;
    margin-left: 0.1%;
    border: 1px solid #111;
}

.sidenav {
    height: 100vh;
    white-space: nowrap;
    padding-right: .5%;
    width: auto; /* Set the width of the sidebar */
    position: relative;
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    padding-top: 10px;
}
.sidenav a {
    padding: 0px 0px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav a:active {
    background-color: #04AA6D;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.coloredText {
    text-align: center;
    color:white;
    font-size: 4vmin;
    text-decoration: underline;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; ;
}


.flexbox {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    vertical-align: top;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
}

.flex-container {
    display: flex;
    height: 80vh;
    flex-wrap: wrap;
    background-color:#333;
    color:#ccc;
    margin-top: 2%;
    border: 2px solid #111;
    border-radius: 10px;
  }

  .flex-container2 {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 80vh;
    flex-wrap: wrap;
    background-color:#333;
    color:#ccc;
    margin-top: 2%;
    border: 2px solid #111;
    border-radius: 10px;
  }

.header {
    text-align: center;
    width:100%;
    font-size: 5vmin;
    color: white;
    text-decoration: underline;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; ;
}

.header2 {
    margin-bottom: 0px;
    padding-bottom:0px;
    text-align: center;
    font-size: 5vmin;
    color: white;
    text-decoration: underline;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; ;
}

.blockText {
    font-size: 4vmin;
    color:white;
}

.blockStyle {
    flex-wrap: wrap;
}

.sideTxt {
    margin-top: .3%;
    font-size: 3.4vmin;
    text-transform: capitalize;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; ;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.btn {
    background-color: #f1f1f1;
    min-width: 100px;
    width: 20%;
    min-height: 15vh;
    height: auto;
    margin: 2%;
    text-align: center;
    line-height: 3vh;
    font-size: 2.5vmin;
    overflow: inherit;
    border-radius: 10px;
}
.btn:hover {
    background-color: #818181;
}
.btn:active {
    background-color: skyblue;
}
.btn2 {
    background-color: #f1f1f1;
    min-width: 100px;
    width: 20%;
    min-height: 15vh;
    height: auto;
    margin: 2%;
    text-align: center;
    line-height: 3vh;
    font-size: 2.5vmin;
    overflow: inherit;
    border-radius: 10px;
}
.btn2:hover {
    background-color: #818181;
}
.btn2:active {
    background-color: skyblue;
}
.active {
    background-color: skyblue;
}

.tableContent {
    margin-top:0px;
}

.searchbar input[type=text] {
    height: 2.7vh;
    min-height: 25px;
    width: 85%;
    padding: 6px;
    margin-top: 8px;
    margin-right: 3px;
    font-size: 17px;
    border:1px solid #333;
  }
.searchbar input[type=submit] {
    height: 4vh;
    min-height: 38px;
    padding: 6px 10px;
    margin-top: 6px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid black;
  }
.searchbar input[type=submit]:hover {
    background: #ccc;
  }
  

.rightbar {
    position: relative;
    width: 22%;
    height: 78.5vh;
    min-height: 100px;
    min-width: 250px;
    margin-top: 8vh;
    padding: .5% 1% .5% .5%;
    margin-right: 2%;
    color: #818181;
    background-color: #333;
    overflow-y: scroll;
    border: 2px solid #111;
}
.submitBtn {
    text-align: center;
    font-size: 2.2vmin;
    width: 50%;
    margin-left: 25%;
    bottom: 0px;
    position: relative;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    cursor: pointer;
    border: 2px solid black;
}
.submitBtn:hover {
    background: #ccc;
}


.closeBtn {
    background-color: #f1f1f1;
    width: 18%;
    height: 18%;
    text-align: center;
    font-size: 2vmin;
    overflow: inherit;
    border-radius: 10px;

    margin-right: 8px;
    margin-left: .5%;
    padding: 10px 10px 10px 10px;
}
.closeBtn:hover {
    background-color: #818181;
}

.main {
    margin-left: 0px;
    padding: 0px 0px;
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}